body {
  margin: 0;
  font-family: "Titillium Web", sans-serif;
  font-optical-sizing: auto;   /* optional, makes it look sharper */
  font-weight: 200;            /* default weight, adjust as needed */
  font-style: normal;
}

/* Hide scrollbar but allow scrolling */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}